{
  // Bot configuration
  "bot": {
      "token":"NDkxNDQ4MDY0NDg2MTQ2MDUw.DoQMJA.72Ky8O6dJNuP-j3TWeImbyVE8cc",
      "prefix": "!",
      "debug": true
  },
  "rvn": {
    "paytxfee": .01,
    "config": {
      "port": 47774,
      "user": "parkingcoinrpc",
      "pass": "d661a3f55ba168eace44c35ed6c3abe7272f66059188b7bfc8c00cbf490638d8"
    }
  },
  "moderation":{
  "pm2Name": "TipBot",
   // Roles that have access to all commands.
  "perms": ["ADMIN","BOT"],
  // Bot Devs!
  "botDev": "Bot Developer",
  // Channel to log the bots moderation..
  "logchannel": "481827740589228033",
  //channel that the tip message will reply in if Multi or Role tip is used.
  "botspamchannels": ["481827740589228033"]
  }
}
